<!DOCTYPE html>
<html>

   <head>
      <title>Ayy lmao</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
         <h3>Enter a date in the url, and I will tell you if it is a unix timestamp or natural language date.</h3>
        <p>
          Supports dates in 'Month Day, Year' format.
          For example: https://cyan-smash.glitch.me/December 25, 2015
        </p>
      </div>
   </body>

</html>
